In [1]:
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Study data files
crop_production_path = "crop_production_clean.csv"
temp_file_path = "temperature_clean.csv"

crop_pro_results = pd.read_csv(crop_production_path,encoding="ISO-8859-1")
temp_read_results = pd.read_csv(temp_file_path,encoding="ISO-8859-1")
crop_pro_results =crop_pro_results[ ["Area","Item"] + list(crop_pro_results.loc[:,"Y1961":"Y2013"]) ]

In [3]:
crop_pro_results

,Area,Item,Y1961,Y1962,Y1963,Y1964,Y1965,Y1966,Y1967,Y1968,...,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
0,Afghanistan,Rice (Milled Equivalent),183,183,182,220,220,195,231,235,...,419,445,546,455,490,415,442,476,425,422
1,Afghanistan,Barley and products,237,237,237,238,238,237,225,227,...,185,43,44,48,62,55,60,72,78,89
2,Afghanistan,Maize and products,403,403,410,415,415,413,454,448,...,231,67,82,67,69,71,82,73,77,76
3,Afghanistan,Potatoes and products,111,97,103,110,113,117,128,130,...,276,294,294,260,242,250,192,169,196,230
4,Afghanistan,Sugar (Raw Equivalent),45,41,43,52,55,58,62,65,...,124,152,169,192,217,231,240,240,250,255
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3148,Zimbabwe,Vegetables,73,76,77,79,82,84,87,90,...,161,166,208,185,137,179,215,217,227,227
3149,Zimbabwe,Fruits - Excluding Wine,53,57,60,61,60,56,56,58,...,191,134,167,177,185,184,211,230,246,217
3150,Zimbabwe,Alcoholic Beverages,210,259,239,242,246,293,284,297,...,294,290,316,355,398,437,448,476,525,516
3151,Zimbabwe,Meat,63,62,64,53,51,56,46,52,...,222,228,233,238,242,265,262,277,280,258
3152,Zimbabwe,Milk - Excluding Butter,230,232,234,238,234,231,231,248,...,373,357,359,356,341,385,418,457,426,451

In [4]:
temp_read_results

,dt,AverageTemperature,AverageTemperatureUncertainty,Country,year
0,1/1/1961,-1.463,0.693,Ã land,1961
1,2/1/1961,1.178,0.663,Ã land,1961
2,3/1/1961,2.396,0.420,Ã land,1961
3,4/1/1961,3.051,0.661,Ã land,1961
4,5/1/1961,7.503,0.622,Ã land,1961
...,...,...,...,...,...
148711,8/1/2011,17.883,0.328,Zimbabwe,2011
148712,9/1/2011,22.902,0.612,Zimbabwe,2011
148713,10/1/2011,24.966,0.441,Zimbabwe,2011
148714,11/1/2011,25.521,0.318,Zimbabwe,2011
148715,12/1/2011,24.013,0.356,Zimbabwe,2011

In [5]:
#rename the columns for crop file
renamed_crop_column=[]
for col in crop_pro_results.columns:
    renamed_crop_column.append(f'{col}_crop')
crop_pro_results.columns =renamed_crop_column
crop_pro_results.head()

,Area_crop,Item_crop,Y1961_crop,Y1962_crop,Y1963_crop,Y1964_crop,Y1965_crop,Y1966_crop,Y1967_crop,Y1968_crop,...,Y2004_crop,Y2005_crop,Y2006_crop,Y2007_crop,Y2008_crop,Y2009_crop,Y2010_crop,Y2011_crop,Y2012_crop,Y2013_crop
0,Afghanistan,Rice (Milled Equivalent),183,183,182,220,220,195,231,235,...,419,445,546,455,490,415,442,476,425,422
1,Afghanistan,Barley and products,237,237,237,238,238,237,225,227,...,185,43,44,48,62,55,60,72,78,89
2,Afghanistan,Maize and products,403,403,410,415,415,413,454,448,...,231,67,82,67,69,71,82,73,77,76
3,Afghanistan,Potatoes and products,111,97,103,110,113,117,128,130,...,276,294,294,260,242,250,192,169,196,230
4,Afghanistan,Sugar (Raw Equivalent),45,41,43,52,55,58,62,65,...,124,152,169,192,217,231,240,240,250,255

In [6]:
# Temperature data set
yearly_temp_avg =temp_read_results[["AverageTemperature","year","Country"]]
yearly_temp_avg_df=pd.DataFrame(yearly_temp_avg).set_index("year")
yearly_temp_avg_df = yearly_temp_avg_df.reset_index()#.groupby("Country","year").AverageTemperature.mean()
yearly_temp_avg_grouped =pd.DataFrame(yearly_temp_avg_df).groupby(["Country","year"]).AverageTemperature.mean()

In [7]:
#usa_prod_df = combined_crop_temp_df.loc[combined_crop_temp_df["Area_crop"]=="United States of America"]
#usa_prod_df